header.header(
  style="background-color: #333; height: 180px; color: #fff; padding: 10px; display: flex; justify-content: space-between; border-radius: 8px; align-items: center;"
)

  .footer__logo
    img(
      src='/img/logo-green.png'
      alt='Natour logo'
      style="width: 200px; margin: 12px;"
    )

  ul.footer__nav(style="list-style: none; padding: 0; margin: 20px 0; text-align: center; font-weight:700; ")

    each item in ['About', 'Become a guide']
      li(style="display: inline-block; margin-right: 20px;")
        a(href=`/${item.toLowerCase().replace(/\s+/g, '-')}`, style="color: #fff; text-decoration: none; font-size: 1.4em; transition: color 0.3s; &:hover { color: #4CAF50; }")= item

    each item, index in {'GitHub': 'https://github.com/dxtaner', 'LinkedIn': 'https://www.linkedin.com/in/tanerozer16/', 'Medium': 'https://www.medium.com/@dxtaner/'}
      li(style="display: inline-block; margin-right: 20px;")
        a.footer__social-link(href=item, target='_blank', style="color: #fff; text-decoration: none; font-size: 1.4em; transition: color 0.3s; &:hover { color: #4CAF50; }")= index

p.footer__copyright(style="text-align: center; margin-top: 20px; font-size: 1.5em; background-color: #333;")
  | &copy; <<< by dxtaner 2024 >>>
